<%= provide(:title, 'All users') %>
<h2>FaceBrook Registered Users</h2>
<div class="container-users">
  <% @users.each do |u| %>
  <ul class="users-wrap animated fadeIn rollIn">
    <li> <%= gravatar_for u, size: 50 %></li>
    <li><%= link_to 'View user', user_path(u) %></li>
    <li>Nickname: <%= nickname(u) %></li>
    <li>Location: <%= location(u) %></li>
    <li>Gender: <%= gender(u) %></li>
    <li> Age: <%= age(u) %></li>
    <hr>
    <% if friends?(u) %>
    <p class="bg-primary text-center">Friends <i class='fas fa-user-friends'></i></p>
    <% elsif pending_notif?(u) %>
    <%= button_to "Accept Request", accept_path(request_data(u)), class: "btn btn-danger"  %>
    <% elsif !relationship?(u) %>
    <%= button_to "Send Friend Request", friendships_path(friendship_data(u)), method: :post, class: "btn btn-success" %>
    <% else %>
    <p class="bg-warning text-center"><i class="far fa-question-circle"></i> Awaiting Response</p>
    <% end %>
  </ul>
  <% end %>
</div>