<%= provide(:title, 'All users') %>

<h2>FaceBrook Registered Users</h2>

<div class="container">
  <ul>
    <% @users.each do |u| %>
   <li> <%= gravatar_for u, size: 50 %></li>
    <li><%= link_to 'View user', user_path(u) %></li>
    <li>Nickname: <%= u.nickname || "Nickname not set" %></li>
    <li>Location: <%= u.location || "We don't know where you are" %></li>
    <li>Gender: <%= u.gender || "We dont know what you are" %></li>
   <li> Age: <%= u.age || "We don't know how old you are" %></li>
   <hr>
    <% end %>
  </ul>
</div>