<%= provide(:title, 'User') %>
<h3><%= @user.nickname || @user.email %> profile</h3>
<ul class="bg-white">
  <li> <%= gravatar_for @user, size: 50 %></li>
  <li>Nickname: <%= nickname(@user) %></li>
  <li>Location: <%= location(@user) %></li>
  <li>Gender: <%= gender(@user) %></li>
  <li>Age: <%= age(@user) %></li>
  <% if owner?(@user) %>
  <%= link_to "Edit Profile", edit_user_registration_path(@user), class: "btn btn-primary" %>
  <% end %>
</ul>
<h3> User Posts </h3>
<%if posts_exist?(@user) %>
  <% @user.posts.each do |p|%>
    <ul class="bg-white">
      <li> <%= p.title %> </li>
      <li> <%= p.content %> </li>
      <li> <%= p.created_at.to_date%> </li>
    </ul>
  <% end %>
<%else%>
  <p class="bg-white"> No posts created by user</p>
<% end %>
