<% provide(title: "Friends") %>

<section class="container-friends p-5 m-5">
  <h1>Friends</h1>
  <% if @friends %>
    <% @friends.each do |fri| %>
      <div class="animated slideInUp friends bg-white">
        <%= gravatar_for fri, size: 30 %>
        <%= (fri.nickname || fri.email).capitalize %>
        <%= link_to "View User", user_path(fri), class: "btn btn-primary" %>
        <%= link_to "Chat <i class='fas fa-comments'></i>".html_safe, chatmessage_path(fri), class: "btn btn-success" %>
        <%= link_to "<span>Unfriend</span> <i class='far fa-frown-open'></i>".html_safe, delete_friend_path(request_data(fri)), method: :delete, data: { confirm: 'Are you sure you want to unfriend the user' }, class: "btn btn-danger"  %>
      </div>
    <% end %>
  <% end %>
</section>