<h1>Chatmessages</h1>
<section class="chats-container">
  <div class="friends-chat bg-white">
    <h3>Friends</h3>
    <% if @friends %>
    <% @friends.each do |fri| %>
    <p class="animated slideInUp friend-each bg-white">
      <%= link_to "#{ gravatar_for fri, size: 30 } #{ (fri.nickname || fri.email).capitalize }".html_safe, chatmessage_path(fri.id) %>
    </p>
    <div class="<%= check_recipient(fri.id, @params) %> chat-wrapper">
      <div class="chat">
        <% if @chats %>
        <% @chats.each do |c| %>
        <div class="<%= check_sender(c) %> message animated slideInDown" id="msg">
          <%= gravatar_for fri, size: 30 %>
          <div>
            <p><%= c.message %></p>
            <small><%= time_ago_in_words(c.created_at) %></small>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
      <div class="chat-form">
        <%= form_for @chat, remote: true do |f| %>
        <%= f.text_field :message, placeholder: "Enter message...", autocomplete: "off",class: "chat-field" %>
        <%= f.submit "Send", class: "btn btn-primary"%>
        <%= f.hidden_field "recipient", value: fri.email %>
        <% end %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

</section>

<%= javascript_pack_tag 'scroll' %>