<%= provide(:title, 'All posts') %>

<h2>Post Feed</h2>

<div class="container">
  <ul>
    <% @posts.each do |p| %>
    <li> <%= gravatar_for p.user, size: 50 %></li>
    <li><%= link_to 'View Post', post_path(p) %></li>
    <li>Title: <%= p.title %></li>
    <li>Content: <%= p.content %></li>
    <hr>
    <% end %>
  </ul>
</div>