
<header class="navbar navbar-fixed-top">
  <%= link_to "FaceBrook", root_path, id: "logo"%>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "<span class='head-links'>Home</span> <i class='fas fa-home'></i>".html_safe, root_path %> <%= %></li>
        <% if current_user %>
      <li><%= link_to "<span class='head-links'>Find Friends</span> <i class='fas fa-user-friends'></i>".html_safe, users_path %></li>
      <li><%= link_to "<span class='head-links'>New Post</span> <i class='far fa-edit'></i>".html_safe, new_post_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="head-links">Account</span> <i class="far fa-user"></i> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "#{current_user.nickname || current_user.email} Profile" , user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Logout", destroy_user_session_path %>
            </li>
          </ul>
        </li>
      <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
      </ul>
</header>